<p> 

	
	<form action="/dbtables/" method="get">
        <input type="submit" value="db tables">
    </form>
	
	<form action="/getusers/" method="get">
        <input type="submit" value="get all users">
    </form>
	
	<form action="/insertuser/" method="get">
        <input type="submit" value="insert user">
    </form>
	
	<form action="/updateuser/" method="get">
        <input type="submit" value="update user">
    </form>
	
	<form action="/deleteuser/" method="get">
        <input type="submit" value="delete user">
    </form>

	<form action="/test/" method="get">
        <input type="submit" value="test page">
    </form>

	<form action="/removesession/" method="get">
        <input type="submit" value="remove session">
    </form>
</p>